@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --White: #ffffff;
    --Stone-100: #f3e6d8;
    --Stone-150: #e4ded8;
    --Stone-600: #5f574e;
    --Stone-900: #302d2c;
    --Brown-800: #854632;
    --Rose-800: #7b284f;
    --Rose-50: #fff5fa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Stone-100);
    font-family: "Outfit", sans-serif;
    color: var(--Stone-900);
}

h1, h2 {
    font-family: "Young Serif", serif;
    line-height: 100%;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
}

main {
    background-color: var(--White);
}

#img_recipe {
    width: 100vw;
}

#recipe {
    padding: 32px;
}

#preparation {
    background-color: var(--Rose-50);
    border-radius: 12px;
    padding: 24px;
    margin: 32px 0;
}

#preparation > h3 {
    margin-bottom: 12px;
    font-weight: 400;
}

#preparation > ul li {
    margin: 16px 0;
    padding-left: 16px;
}

ul {
  padding-left: 1.5rem;
  list-style-position: outside;
}

li {
  padding-left: 16px;
}

ul li {
    margin: 8px 0;
}

footer {
    background-color: var(--Stone-100);
    color: var(--Stone-100);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    opacity: 0;
    transition: .5s ease-in-out;
}

footer:hover {
    opacity: 100;
    background-color: var(--Stone-900);
    color: var(--White);
}

footer a {
    color: var(--Stone-100);
    text-decoration: none;
    font-weight: bold;
    transition: .5s ease-in-out;
}

footer a:hover {
    color: var(--Brown-800);
}

@media screen and (min-width: 375px) {

}