@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --White: #ffffff;
    --Stone-100: #f3e6d8;
    --Stone-150: #e4ded8;
    --Stone-600: #5f574e;
    --Stone-900: #302d2c;
    --Brown-800: #854632;
    --Rose-800: #7b284f;
    --Rose-50: #fff5fa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Stone-100);
    font-family: "Outfit", sans-serif;
    color: var(--Stone-900);
    width: 100vw;
    height: auto;
}

h1, h2 {
    font-family: "Young Serif", serif;
    line-height: 100%;
    margin-bottom: 24px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    color: var(--Brown-800);
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 150%;
}

main {
    background-color: var(--White);
}

#img_recipe {
    width: 100vw;
}

#recipe {
    padding: 32px;
}

#preparation {
    background-color: var(--Rose-50);
    border-radius: 12px;
    padding: 24px;
    margin: 32px 0;
}

#preparation > h3 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--Rose-800);
}

#preparation > ul li {
    margin: 16px 0;
    padding-left: 16px;
}

#preparation > ul li::marker {
    color: var(--Rose-800);
}

ul {
  padding-left: 1.5rem;
  list-style-position: outside;
}

li {
  padding-left: 16px;
}

ul li {
    margin: 8px 0;
}

ul li::marker {
    color: var(--Brown-800);
}

hr {
    margin: 24px 0;
    border: 0;
    border-top: 1px solid var(--Stone-150);
}

ol {
  padding-left: 1.5rem;
  list-style-position: outside;
}

ol li {
    margin: 8px 0;
}

ol li::marker {
    font-weight: 600;
    color: var(--Brown-800);
}

table {
    margin: 24px 32px;
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 12px 0;
    padding-right: 72px;
}

td.tcontent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -32px;
    right: -24px;
    height: 1px;
    background-color: var(--Stone-150);
}

tr > td > b {
    color: var(--Brown-800);
}

footer {
    background-color: var(--Stone-100);
    color: var(--Stone-100);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    opacity: 0;
    transition: .5s ease-in-out;
}

footer:hover {
    opacity: 100;
    background-color: var(--Stone-900);
    color: var(--White);
}

footer a {
    color: var(--Stone-100);
    text-decoration: none;
    font-weight: bold;
    transition: .5s ease-in-out;
}

footer a:hover {
    color: var(--Brown-800);
}

@media screen and (min-width: 375px) {

    body {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    main {
        margin: 124px 0;
        padding: 40px;
        width: 736px;
        height: auto;
        border-radius: 24px;
    }

    #img_recipe {
        width: 656px;
        height: 300px;
        border-radius: 12px;
        margin-bottom: 30px;
    }

    #recipe {
        padding: 0;
    }

    h1 {
        font-size: 40px;
    }

    #preparation {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    #preparation > ul li {
    margin-top: 16px;
    margin-bottom: 0;
    }

    #preparation > h3 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

    td {
        padding-right: 244px;
    }
}